@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --input-border: #D6D6D6;
    --label-color: rgb(85, 82, 82);
    --placeholder-color: rgba(139, 131, 131, 0.432);
    --gradient-col1: #EA3CF7;
    --gradient-col2: #6888E5;
    --gradient-col3: #62D6DC;
    --color-invalid: rgb(255,68,68);
    --color-valid: rgb(7, 116, 7);

    /* custom font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    /* TODO: Gradient */
    /* background-color: lightcoral; */

    background:
        linear-gradient(
            to bottom left,
            var(--gradient-col1),
            var(--gradient-col2),
            var(--gradient-col3));
}

h1 {
    justify-self: center;
    padding-top: 40px;
    font-size: 45px;
    font-weight: 800;
}

.cover{
    object-fit: cover;
    height: 40px;
}

main {
    background-color: white;
    border-radius: 10px;

    margin: 50px 25%;
}

form {
    display: grid;
    align-items: center;
    margin: 0 10%;
    padding: 50px 0;
}

.input-container {
    display: grid;
    grid-template-rows: .2fr 1fr;
    gap: 10px;
    padding: 20px 0;
}

.input-container {
    border-bottom: 1px solid var(--input-border);
}

button {
    /* Grid layout for better arrow with svg */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;

    /* Vertical spacing to next element */
    margin: 70px 0 20px 0;

    /* Button height */
    padding: 10px 0;

    /* Border settings */
    border-radius:30px;
    border: none;

    /* Gradient settings */
    background-image:
        linear-gradient(
            to right,
            var(--gradient-col1),
            var(--gradient-col2),
            var(--gradient-col3));


    /* Show click cursor effect - can't use a-tags on buttons */
    cursor: pointer;
}

button > p {
    justify-self: end;

    /* Font settings */
    color: white;
    font-size: x-large;
    font-family: "Inter";
    font-weight: 700;
}

button > img {
    justify-self: start;
}

button:hover {
    box-shadow: inset 0 0 20px .5px rgb(255, 255, 255);
    background-image: none;
    background-color: var(--gradient-col2);
}


label {
    font-size: small;
    color: var(--label-color);
}

input, select, textarea {
    border: none;
    font-size: large;
}

input, textarea {
    padding: 10px;

    /* For error animation */
    --left: 0;
    left: var(--left);
    position: relative;
}


/* Placeholder font styles */
input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
    font-family: "Inter";
}

/* Override default outline and add inner shadow on focus*/
*:is(input, select, textarea):focus {
    outline: 4px solid var(--gradient-col2);
    box-shadow: inset 0 0 5px var(--gradient-col2);
}


/* Keyframes for error shake */
@keyframes error-shake {
    0% {
        --left: -25px;
    }
    20% {
        --left: 20px;
    }
    40% {
        --left: -15px;
    }
    60% {
        --left: 10px
    }
    80% {
        --left: -5px;
    }
    100% {
        --left: 0;
    }
}

/* Effects for invalid inputs - only applies to the input fields after being invalid and NOT focus -> when clicked away from  the field */
input:not(:focus):invalid, textarea:not(:focus):invalid {
    /* Change Border for input fields */
    border: 3px solid var(--color-invalid);
    box-shadow: inset 0 0 5px var(--color-invalid);

    /* Change text color */
    color: var(--color-invalid);

    /* Shake animation */
    animation: error-shake 400ms;
}

/* Limit resizeable textarea */
textarea {
    resize: vertical;
    min-height: 100px;
}
