@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --input-border: #D6D6D6;
    --label-color: rgb(85, 82, 82);
    --placeholder-color: rgba(139, 131, 131, 0.432);
    --gradient-col1: #EA3CF7;
    --gradient-col2: #6888E5;
    --gradient-col3: #62D6DC;
    /* custom font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    /* TODO: Gradient */
    background-color: lightcoral;
}

h1 {
    justify-self: center;
    padding-top: 40px;
    font-size: 45px;
    font-weight: 800;
}

.cover{
    object-fit: cover;
    height: 40px;
}

main {
    background-color: white;
    border-radius: 10px;

    margin: 50px 25%;
}

form {
    display: grid;
    align-items: center;
    margin: 0 10%;
    padding: 50px 0;
}

.input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 20px 0;
}

.input-container + .input-container {
    border-top: 1px solid var(--input-border);
}

button {
    /* Grid layout for better arrow with svg */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;

    /* Vertical spacing to next element */
    margin: 20px 0;

    /* Button height */
    padding: 10px 0;

    /* Border settings */
    border-radius:30px;
    border: none;
    
    /* Font settings */
    color: white;
    font-size: larger;
    font-family: "Inter";
    font-weight: 700;

    background-image:
        linear-gradient(
            to right,
            var(--gradient-col1),
            var(--gradient-col2),
            var(--gradient-col3));

    /* Show click cursor effect - can't use a-tags on buttons */
    cursor: pointer;
}

button > p {
    justify-self: end;
}

button > img {
    justify-self: start;
}

button:hover {
    
}

label {
    font-size: small;
    color: var(--label-color);
}

input, select, textarea {
    border: none;
    font-size: large;
}

/* Placeholder font styles */
input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
    font-family: "Inter";
}

*:is(input, select, textarea):focus {
    outline: 3px solid var(--input-border);
}
