:root{
    --input-border: #D6D6D6;
}

/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background-color: lightcoral;
}

h1 {
    justify-self: center;
}

main {
    background-color: white;
    border-radius: 10px;

    margin: 50px 20%;
}

form {
    display: grid;
    align-items: center;
    /* gap: 2px; */

    margin: 0 10%;
    
    
}

.input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 0;

    /* Lines between input fields */
    border-bottom: 1px solid var(--input-border);
}


/* Remove the lines of the last input container */
.input-container:last-of-type {
    border-bottom: none;
    grid-template-rows: 1fr;
}